* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFFFF0 !important;
}

.nav-link {
    display: inline-block;
    position: relative;
}

nav>div>div>ul>li>.nav-link:hover {
    background-color: #e7717d;
    color: white !important;
    border-radius: 5%;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a span {
    color: #e7717d;
}

.logo {
    width: 40px;
}

nav div a {
    color: #005c8e !important;
}

#LogInBtn {
    background-color: #e7717d;
    color: aliceblue;
}

#IntroductieSect {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFF0;
    position: relative;
    padding: 5% 10%;
    z-index: 0;
    overflow: 0;
}

#IntroductieSect span {
    color: #e7717d;
    font-weight: 900;
}

#IntroductieSect>h1 {
    font-size: 5em;
    color: #005c8e;
}

#IntroductieSect>img {
    position: absolute;
    left: -226%;
    top: 30%;
    z-index: 3;
    width: 50%;
}

#IntroductieDiv {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 15% 10%;
}

#IntroductieDiv img {
    width: 80%;
    border-radius: 10px;
}

#IntroductieTextDiv {
    width: 100%;
    z-index: 2;
}

#IntroductieDiv p {
    margin-top: 20px;
}

#IntroductieSect>#IntroductieDiv>#IntroductieTextDiv>small {
    border-bottom: 1px solid #e7717d;
}

p {
    font-size: 1.3em;
}

#CarouselSect {
    padding: 5% 10%;
}

#InformatieSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 5%;
}

.InfoDiv>img {
    width: 25%;
    height: auto;
    background-color: #e7717d;
    padding: 7%;
    border-radius: 50%;
}

.InfoDiv {
    height: 100px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15% 5%;
    background-color: #FFFFF0;
}

.InfoDiv>div {
    width: 50%;
}

footer {
    padding: 5% 0%;
    background-color: rgb(42, 42, 42);
    color: white;
}

footer>div {
    flex-direction: column;
    padding: 0% 10%;
}


#log-in-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

.log-in {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
}

.log-in > div > h1 {
    color: #0087ca;
}

.log-in > div > h1 > span {
    color: #e7717d;
}

.log-in:nth-child(2) {
    flex-direction: column;
    width: 100%;
}

.log-in:nth-child(2)>div {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.log-in:nth-child(2)>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    width: 100%;
    border-left: 10px solid #e7717d;
    border-top: 10px solid #e7717d;
    border-right: 10px solid #0087ca;
    border-bottom: 10px solid #0087ca;
}

.log-in:nth-child(2)>nav {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.log-in:nth-child(1) {
    width: 100%;
    height: 20%;
    border-right: none;
}

.log-in:nth-child(1) > div {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 50%;

}

.log-in:nth-child(1)>img {
    width: 100%;
    height: auto;
    position: absolute;
    left: -200px;
    bottom: 0;
}

.input-box {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

input {
    border-radius: 5px;
    padding: 2%;
    width: 100%;
}

.input-box>i {
    position: absolute;
    right: 5%;
    top: 25%;
}

form {
    width: 100%;
}

form > button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 1%;
    color: white;
    background-color: #e7717d;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 20px;
    white-space: nowrap;
}

.remember-me input[type="checkbox"] {
    width: 6%;
}

#line1 {
    border: 10px solid #e7717d;
    width: 100%;
    opacity: 1;
    margin: 0;
}

#line2 {
    border: 10px solid #0087ca;
    width: 100%;
    opacity: 1;
    margin: 0;
}

#line3 {
    border: 10px solid black;
    width: 100%;
    opacity: 1;
    margin: 0;
}

#SelectCarSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.klas {
    width: 50%;
    height: 20%;
    margin: 5px;
    color: white;
    background-color: #e7717d;
    border: none;
}

#KlasButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.klas:hover {
    background-color: #0087ca;
    transition: 0.5s;
}

#SelectCarContent > img {
    width: 100%;
}

#Specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spec {
    margin: 5px;
    border: 3px solid;
    padding: 1%;
    width: 60%;
}

#SelectCarContent {
    width: 100%;
}

@media (min-width: 992px) {
    #IntroductieSect {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFF0;
        position: relative;
        padding: 5% 10%;
        z-index: 0;
        overflow: 0;
    }

    #IntroductieDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5%;
        border-radius: 10px;
        border: solid;
        z-index: 2;
        text-align: start;
    }

    #IntroductieDiv img {
        width: 30%;
        border-radius: 10px;
    }

    #IntroductieTextDiv {
        width: 50%;
        z-index: 2;
    }

    #IntroductieSect>img {
        position: absolute;
        left: -32%;
        top: 25%;
        z-index: 3;
        width: 50%;
    }

    #InformatieSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10%;
        background-color: rgba(194, 194, 179, 0.576)
    }

    .InfoDiv {
        width: 24%;
        padding: 0;
    }

    .InfoDiv>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        padding: 5% 0%;
    }

    footer>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #log-in-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100vh;
        overflow-y: hidden;
    }

    .log-in:nth-child(1) {
        width: 50%;
        height: 100%;
        border-right: solid;
        align-items: end;
    }

    .log-in:nth-child(1)>img {
        width: 100%;
        height: auto;
        position: absolute;
        left: -200px;
        bottom: 200px;
    }

    .log-in:nth-child(2) {
        flex-direction: column;
        width: 50%;
    }

    #SelectCarContent {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #SelectCarContent > img {
        width: 40%;
    }

    .klas {
        width: 60%;
        height: 20%;
        margin: 5px;
        color: white;
        background-color: #e7717d;
        border: none;
    }
    
    #KlasButtons {
        width: 30%;
    }

    .klas:hover {
        background-color: #0087ca;
        transition: 0.5s;
    }

    #Specs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    .spec {
        margin: 5px;
        border: 3px solid;
        padding: 1%;
        width: 60%;
    }
}