* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



body {
    background-color: #FFFFF0 !important;
}

nav {
    z-index: 1;
}

a span {
    color: #e7717d;
}

nav div a {
    display: flex;
}

nav div a img {
    width: 40px;
}

nav div a {
    color: #005c8e !important;
}

#LogInBtn {
    background-color: #e7717d;
    color: aliceblue;
}

#IntroductieSect {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFF0;
    position: relative;
    padding: 5% 10%;
    z-index: 0;
    overflow: 0;
}

#IntroductieSect span {
    color: #e7717d;
    font-weight: 900;
}

#IntroductieSect > img {
    position: absolute;
    left: -26%;
    top: 30%;
    z-index: 3;
    width: 50%;
}

#IntroductieSect > h1 {
    font-size: 5em;
    color: #005c8e;
}

#IntroductieDiv {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    box-shadow: 5px;
    border-radius: 10px;
    border: solid;
    z-index: 2;
}

#IntroductieDiv img{
    width: 30%;
    border-radius: 10px;
}

#IntroductieDiv p {
    margin-top: 20px;
}


#IntroductieTextDiv {
    width: 50%;
    z-index: 2;
}

small {
    border-bottom: 1px solid #e7717d;
}

p {
    font-size: 1.3em;
}

#CarouselSect {
    padding: 5% 10%;
}